@model Carnation.Models.Product

@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor;
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="align-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgba(0,0,0,0.5) !important;top:0">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Carnation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="@Url.Action("Index","Products")">Buy Now</a>
                <a class="nav-link" href="@Url.Action("Create","SimpleUserRegisters")">Sign Up</a>
                <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                <a class="nav-link" href="@Url.Action("Create","Feedbacks")">Feedback</a>

                @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "merchant" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                {
            <a class="nav-link" href="@Url.Action("Index","MerchantUserRegisters")">Business Account🔑</a>}
                @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "simple" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                {
            <a class="nav-link" href="@Url.Action("Index","SimpleUserRegisters")">My Account🔑</a>}
                <a class="nav-link" href="@Url.Action("LogOut","Account")">LogOut</a>
            </div>
        </div>
    </nav>
</div>


<h1 class="display-4">Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PId" />
            <div class="form-group">
                <label asp-for="PName" class="control-label"></label>
                <input asp-for="PName" class="form-control" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCompany" class="control-label"></label>
                <input asp-for="PCompany" class="form-control" />
                <span asp-validation-for="PCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPrice" class="control-label"></label>
                <input asp-for="PPrice" class="form-control" />
                <span asp-validation-for="PPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDescription" class="control-label"></label>
                <input asp-for="PDescription" class="form-control" />
                <span asp-validation-for="PDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UName" class="control-label"></label>
                <input asp-for="UName" class="form-control" />
                <span asp-validation-for="UName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPic" class="control-label"></label>
                <input asp-for="ProductPic" class="form-control" />
                <span asp-validation-for="ProductPic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
