@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Sedan Cars Display</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <div class="align-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgba(0,0,0,0.5) !important;top:0">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Carnation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="@Url.Action("Index","Products")">Buy Now</a>
                        <a class="nav-link" href="@Url.Action("Create","SimpleUserRegisters")">Sign Up</a>
                        <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                        <a class="nav-link" href="@Url.Action("Suv","Home")">Suvs</a>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "merchant" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                        {
                    <a class="nav-link" href="@Url.Action("Index","MerchantUserRegisters")">Business Account🔑</a>}
                        @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "simple" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                        {
                    <a class="nav-link" href="@Url.Action("Index","SimpleUserRegisters")">My Account🔑</a>}
                        <a class="nav-link" href="@Url.Action("LogOut","Account")">LogOut</a>
                    </div>
                </div>
            </nav>
        </div>

    </header>



    <section class="jumbotron text-center">
        <div class="container">
            <h1>Sedan Cars</h1>
            <p class="lead text-muted"><i>A love between a man and his car can only be understood by those who have felt it.</i></p>
            <p>
                <a href="#" class="btn btn-primary my-2">SUVs</a>
               
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Hyundai/Verna/6788/1585562805709/front-left-side-47.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Hyundai Verna"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Hyundai Verna</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Hyundai Verna is a compact-sedan car with new Italian concept and design.<br />
                                <b>Price Range:</b> 8,50,0000 - 15,67,000<br />
                                <b>Engine Specs:</b> Available in 1.0 l Kappa Turbo GDi Petrol,
                                1.5 l MPI Petrol & 1.5 l U2 CRDi Diesel Engine. 7-Speed Dual Clutch Transmission(Turbo),
                                6-Speed Automatic (Diesel), IVT (Petrol) Hyundai
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/40535/all-new-city-exterior-right-front-three-quarter.jpeg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Honda City"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Honda City</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Honda City is a sedan car with premieum features, design, and comfort and is one of the best cars in its segment<br />
                                <b>Price Range:</b> 9,50,0000 - 17,68,000<br />
                                <b>Engine Specs:</b>  The Honda City has 1 Diesel Engine and 1 Petrol Engine on offer.
                                The Diesel engine is 1498 cc while the Petrol engine is 1498
                                Engine Displacement (cc): 1498
                                Fuel Tank Capacity: 40
                                Max Power (bhp@rpm): 97.9bhp@3600rpm
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                    Learn More
                                    </button>
                                </div>
                                <small class="text-muted">Honda</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://imgctcf.aeplcdn.com/thumbs/p-nc-b-ver201911141249/images/car-data/big/maruti-suzuki-ciaz-14373.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Suzuki Ciaz"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Suzuki Ciaz</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Ciaz is a sedan car with premieum features, design, and comfort and is one of the best cars in its segment<br />
                                <b>Price Range:</b> 10,50,0000 - 18,98,000<br />
                                <b>Engine Specs:</b>  Engine and Transmission. Engine Type. K15 Smart Hybrid Petrol E.
                                Displacement (cc) 1462. Max Power. Fuel & Performance.
                                Suspension, Steering & Brakes.
                                Dimensions & Capacity. Comfort & Convenience.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                </div>
                                <small class="text-muted">Suzuki</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://wheelbhp.b-cdn.net/wp-content/uploads/2018/10/China-Specs-Volkswagen-Passat-Revealed-Will-It-Launch-In-India-6.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Passat"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Volkswagen Passat</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Passat is a sedan car with premieum features, design, and comfort and is one of the best cars in its segment<br />
                                <b>Price Range:</b> 32,99,0000 - 38,98,000<br />
                                <b>Engine Specs:</b> The Passat is powered by a 2.0-litre diesel engine that makes 177PS/350Nm.
                                It is mated to a 6-speed DSG gearbox. The Passat has ...
                                Engine (upto): 1968 cc
                                Transmission: Automatic
                                Mileage (upto): 17.42 kmpl
                                Boot Space: 586
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                </div>
                                <small class="text-muted">Volkswagen</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.hgmsites.net/hug/2020-toyota-camry_100736470_h.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Toyota Camry"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Toyota Camry</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Camry is a sedan car with premieum features, design, and comfort and  carries one of the best engine and gives the
                                best performance in its segment<br />
                                <b>Price Range:</b> 30,50,0000 - 39,98,000<br />
                                <b>Engine Specs:</b> The Petrol engine is 2487 cc . It is available with the Automatic transmission.
                                Engine Displacement (cc): 2487
                                Fuel Tank Capacity: 50
                                Max Power (bhp@rpm): 214.5bhp@5700rpm
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                </div>
                                <small class="text-muted">Toyota</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images-na.ssl-images-amazon.com/images/I/61UYdfUBAoL._SL1500_.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Nissan Sunny"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Nissan Sunny</text></img>
                        <div class="card-body">
                            <p class="card-text">
                                Sunny is a sedan car with great design, and comfort and is one of the most value for money car in its
                                segment and has a posch legroom and superb power.<br />
                                <b>Price Range:</b> 7,09,0000 - 10,98,000<br />
                                <b>Engine Specs:</b> The Nissan Sunny has 1 Diesel Engine and 1 Petrol Engine on offer.
                                The Diesel engine is 1461 cc while the Petrol engine is 1498 cc .
                                Engine Displacement (cc): 1498
                                Fuel Tank Capacity: 41
                                Max Power (bhp@rpm): 97.6bhp@6000rpm
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Learn More</button>
                                </div>
                                <small class="text-muted">Nissan</small>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="text-muted">
                    <div class="container">
                        <p class="float-right">
                            <a href="#">Back to top</a>
                        </p>
                        <p>Fake Address</p>
                        <p>I hope you had a wonderfull experience <a href="#sitelink">Visit the homepage</a> or know more about our services <a href="#"> Click Here </a>.</p>
                    </div>
                </footer>

</body>


</html>