@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>SUV Cars Display</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>
<body>

    <div class="align-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgba(0,0,0,0.5) !important;top:0">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">Carnation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="@Url.Action("Index","Products")">Buy Now</a>
                    <a class="nav-link" href="@Url.Action("Create","SimpleUserRegisters")">Sign Up</a>
                    <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                    <a class="nav-link" href="@Url.Action("Compact","Home")">Compact Cars</a>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "merchant" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                    {
                <a class="nav-link" href="@Url.Action("Index","MerchantUserRegisters")">Business Account🔑</a>}
                    @if (HttpContextAccessor.HttpContext.Session.GetString("usertype") == "simple" || HttpContextAccessor.HttpContext.Session.GetString("usertype") == "admin")
                    {
                <a class="nav-link" href="@Url.Action("Index","SimpleUserRegisters")">My Account🔑</a>}
                    <a class="nav-link" href="@Url.Action("LogOut","Account")">LogOut</a>
                </div>
            </div>
        </nav>
        <main role="main">

            <section class="jumbotron text-center" style="background-image: url(https://www.hyundai.com/content/dam/hyundai/in/en/data/find-a-car/Creta/Highlights/pc/march/Hyundai_CRETA_SUV_MainKV_PC_1860x540.jpg)">
                <div class="container">
                    <h1>SUVs</h1>
                    <p class="lead text-dark"><i><b>A love between a man and his car can only be understood by those who have felt it.</b></i></p>
                    <p>
                        <a href="Sedan.html" class="btn btn-primary my-2">Sedan</a>
                        <a href="Compact.html" class="btn btn-secondary my-2">Compacts</a>
                    </p>
                </div>
            </section>

            <div class="album py-5 bg-dark">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" id="img1" width="100" height="225" src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=http%3A%2F%2Fcms.haymarketindia.net%2Fmodel%2Fuploads%2Fmodelimages%2Ffortunermodelimage.jpg&h=578&w=872&c=1" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder:Toyota Fortuner"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Toyota Fortuner</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Toyota Fortuner is a 7 seater SUV.<br />
                                        <b>Price Range:</b> 28,66,0000 - 36,88,000<br />
                                        <b>Engine Specs:</b> Available in 8 variants, 2 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</br>
                                        <b>Other Specs:</b></br>
                                        Engine Displacement (cc): 999<br />
                                        Fuel Tank Capacity: 40</br>
                                        Max Power (bhp@rpm): 98.63bhp@5000rpm
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=http%3A%2F%2Fcms.haymarketindia.net%2Fmodel%2Fuploads%2Fmodelimages%2Ffortunermodelimage.jpg&h=578&w=872&c=1" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://www.toyotabharat.com/showroom/fortuner/" class="btn btn-sm btn-outline-secondary">Learn More</a>
                                        </div>
                                        <small class="text-muted">Toyota</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://upload.wikimedia.org/wikipedia/commons/9/90/2020_Nissan_Magnite_front_view_%28India%29_01.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder:Nissan Magnite"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Nissan Magnite</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Nissan Magnite is a 5 seater SUV .<br />
                                        <b>Price Range:</b> 4,49,0000 - 9,97,000<br />
                                        <b>Engine Specs:</b>Available in 36 variants, BS6 and 2 transmission options: Manual & Automatic.</br></br>
                                        <b>Other Specs:</b></br>
                                        Engine Displacement (cc): 999<br />
                                        Fuel Tank Capacity: 40</br>
                                        Max Power (bhp@rpm): 98.63bhp@5000rpm
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://upload.wikimedia.org/wikipedia/commons/9/90/2020_Nissan_Magnite_front_view_%28India%29_01.png" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://www.nissan.in/vehicles/new/magnite.html" class="btn btn-sm btn-outline-secondary">Learn More</a>
                                        </div>
                                        <small class="text-muted">Nissan</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://i.cdn.newsbytesapp.com/images/l200_18561596791505.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Kia Sonet"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Kia Sonet</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Kia Sonet is a 5 seater SUV car with premieum features, design, and comfort and is one of the best cars in its segment<br />
                                        <b>Price Range:</b> 6,01,0000 - 12,99,000<br />
                                        <b>Engine Specs:</b>  3 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</br>
                                        <b>Other Specs:</b></br>
                                        Displacement (cc) 998. Max Power.</br>
                                        Max Power (bhp@rpm): 118.35bhp@6000rpm</br>

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://i.cdn.newsbytesapp.com/images/l200_18561596791505.jpg" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://www.kia.com/in/our-vehicles/sonet/showroom.html?utm_source=google&utm_medium=sem&utm_campaign=Sonet_Brand_RSA&gclid=Cj0KCQiA5bz-BRD-ARIsABjT4niA-WrEOGFBUjawIin4iTWUOa0K4O8kwQ1Swwp95rMADZWTBP-0dT4aAtH5EALw_wcB" class="btn btn-sm btn-outline-secondary">Learn More</a>
                                        </div>
                                        <small class="text-muted">Kia</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/33372/seltos-exterior-right-front-three-quarter.jpeg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Kia Seltos"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Kia Seltos</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Kia Seltos is a 5 seater SUV with premieum features, design, and comfort and is one of the best cars in its segment<br />
                                        <b>Price Range:</b> 9,89,0000 - 17,34,000<br />
                                        <b>Engine Specs:</b> Available in 19 variants, 3 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</br>
                                        <b>Other Specs :</b></br>
                                        Engine Displacement (upto): 1494 cc.</br>
                                        Max Power(bhp@rpm):113bhp@4000rpm.</br>
                                        Transmission: Automatic.

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://imgd.aeplcdn.com/0x0/n/cw/ec/33372/seltos-exterior-right-front-three-quarter.jpeg" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://www.kia.com/in/our-vehicles/seltos/showroom.html/?utm_source=google&utm_medium=sem&utm_campaign=Seltos_Brand_RSA&gclid=Cj0KCQiA5bz-BRD-ARIsABjT4nhIvlwl_Rn8fzEy88qmD31aaGTIm7g0jRqYmDrkRWWjSVOb5HeWZiwaArwoEALw_wcB" class="btn btn-sm btn-outline-secondary">Learn More</a>
                                        </div>
                                        <small class="text-muted">Kia</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/40087/thar-exterior-right-front-three-quarter-11.jpeg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Mahindra Thar"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Mahindra Thar</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Mahindra Thar is a 4 seater SUV with premieum features, design, and comfort and  carries one of the best engine.<br />
                                        <b>Price Range:</b> 9,80,0000 - 13,75,000<br />
                                        <b>Engine Specs:</b>  2 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</br></br>
                                        <b>Other Specs:</b></br>
                                        Engine Displacement (cc): 2184</br>
                                        Fuel Tank Capacity: 57</br>
                                        Max Power(bhp@rpm): 130bhp@3750rpm
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://imgd.aeplcdn.com/0x0/n/cw/ec/40087/thar-exterior-right-front-three-quarter-11.jpeg" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://auto.mahindra.com/suv/thar" class="btn btn-sm btn-outline-secondary">Learn More</a>
                                        </div>
                                        <small class="text-muted">Mahindra</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/41564/hyundai-creta-right-front-three-quarter9.jpeg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Hyundai Creta"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"><b>Hyundai Creta</b></text></img>
                                <div class="card-body">
                                    <p class="card-text">
                                        Hyundai Creta is a 5 seater SUV with great design, and comfort and is one of the most value for money car in its
                                        segment.<br />
                                        <b>Price Range:</b> 9,81,0000 - 17,31,000<br />
                                        <b>Engine Specs:</b>  It is available in 17 variants, 3 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</br>
                                        <b>Other Specs :</b></br>
                                        Engine Displacement (cc): 1493</br>
                                        Fuel Tank Capacity: 50</br>
                                        Max Power(bhp@rpm): 113bhp@4000rpm
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="https://imgd.aeplcdn.com/0x0/n/cw/ec/41564/hyundai-creta-right-front-three-quarter9.jpeg" class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="https://www.hyundai.com/in/en/find-a-car/creta/highlights.html?utm_source=Search&utm_medium=CPC&utm_campaign=CRETA-AlwaysOn-2020&gclid=Cj0KCQiA5bz-BRD-ARIsABjT4ngW9BIS-GlSxv1BJUjzCzYRf3I4pBTM6SCpZvn1mYCg_HBJNq7CX7IaAuQlEALw_wcB" class="btn btn-sm btn-outline-secondary">Learn More</a>

                                        </div>
                                        <small class="text-muted">Hyundai</small>
                                    </div>
                                </div>
                            </div>
                        </div>

        </main>

        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <br />
                    <a href="#" class="btn btn-sm btn-outline-secondary">Back to top</a>
                </p>
               
                <p>I hope you had a wonderfull experience <a href="#sitelink">Visit the homepage</a> or know more about our services <a href="#"> Click Here </a>.</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>